body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom, #EEF5FF 20.2%, #f1d7e9 91.1%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body {
    height: 100%;
}
img{
    width: 300px;
    height:250px;
}
.header {
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-self: center;
    height: 30px;
    border-bottom: 1px solid silver;
    padding: 1%;
}

.menu {
    list-style: none;
    margin: 0;
    display: flex;
}

.menu > li {
    position: relative;
    border-right: 1px solid silver;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu > li > a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
}

.menu > li:hover > a {
    color: rgb(92, 91, 91);
}

.submenu {
    border: 2px solid black;
    box-shadow:10px 5px 12px 0  rgb(194, 220, 255);
    list-style: none;
    padding: 2%;
    margin-top: 17%;
    width: 180px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    border-radius: 10px;
}

.menu > li:hover .submenu {
    display: block;
}

.submenu > li > a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.submenu > li > a:hover {
    background: black;
    color: white;
    border-radius: 10px;
}

.search-bar {
    display: none;
    /* position: fixed; */
}

input {
    border-radius: 10px;
    height: 30px;
    width: 180px;
    margin: -2% 0% 0 10%;
    border: 2px solid black;
}

#left {
    margin-left: 0;
}

.menu1 {
    width: 280px;
    color: rgb(112, 112, 112);
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu1 > li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    border-right: 1px solid silver;
    text-align: center;
    font-style: italic;
}

#date {
    text-align: center;
}

#letter {
    color: blueviolet;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-style: italic;
}

.nut {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.login {
    display: flex;
}
.logout {
    display: flex;
}

@media (max-width: 750px) {
    .menu {
        display: none;
    }

    .nut {
        display: block;
    }

    .menu.active li {
        margin: 10px 0;
        border-right: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        right:0;
        width: 30%;
        padding: 1%;
        background: white;
    }

    .submenu {
        background: white;
        margin-left: -100%;
        margin-top: -45px;
    }

    input {
        position: absolute;
        margin-top:50% ;
        margin-left: -130%;
    }
}

@media (max-width: 600px) {
    #date {
        display: none;
    }
    
    .letter {
        border-right: none;
    }
    
    .nut {
        display: block;
    }
    
    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        right:0;
        width: 30%;
        padding: 2%;
       
    }
    
    .submenu {
        margin-left: -120%;
        margin-top: 0;
    }
    
    input {
        margin-top: 116%;
        margin-left: 0;
    }
}

@media (max-width: 1200px) {
    #hide {
        display: none;
    }
}

.menu .login a,
.menu .logout a,
.menu .con a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.menu .login p,
.menu .logout p,
.menu .con p {
    margin-left: 5px;
}

h2 {
    text-align: center;
}

.form {
    margin: 5% 0 0 30%;
    width: 550px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 2;
    background: white;
}

.group1 {
    margin: 5%;
}

button {
    margin-left: 14%;
    width: 76%;
    height: 35px;
    border: 2px solid plum;
    border-radius: 10px;
    background: palegreen;
    font-size: 17px;
}

.group1 input {
    width: 80%;
    padding: 10px;
    height: 20px;
}

.ques {
    text-align: center;
}

button:hover {
    background: plum;
    border: 2px solid palegreen;
    font-size: 18px;
}

.hidden {
    display: none;
}

.content {
    display: flex;
    padding: 20px;
    margin: 0 auto;
}

.news {
    display: block;
    gap: 20px;
}

.news .article {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

.feed .article h2 {
    margin-top: 0;
}
h3:hover{
    color:blue;
    font-size: 20px;
}
img{
    margin-right: 20px;
}
.ver-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;

}

.ver-menu .post {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 10px;
}

.ver-menu .post:hover {
    background: rgb(250, 197, 197);
}

.ver-menu .post img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.ver-menu .post p {
    margin: 0;
    font-size: 16px;
}
.ver-menu div:hover ~ .main-content.news {
    background: pink;
}



