body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: yellow; */
}

.than {
    width: 2500px;
    height: fit-content;
    margin-left: 10px;
}

.keNgang {
    width: 30%;
    margin-left: 30px;
}

.tieuDe {
    font-size: 30px;
    margin-left: 300px;
    margin-bottom: 30px;
}

.tenSP {
    font-size: 23px;
}

/* Tên trang web */

.tenWeb, .tenWeb_bottom, .tenWeb_right {
    display: flex;
    flex-direction: row;
    line-height: 50px;
}

.tenWeb {
    justify-content: space-around;
}

.tenWeb_left p{
    font-size: 30px;
}
.tenWeb_left td {
    width: 150px;
    height: 50px;
    text-align: center;
}

.tenWeb_bottom {
    justify-content: space-between;
}
.tenWeb_bottom .buttons input{
    width: 130px;
}
.tenWeb_bottom .search input{
    width: 300px;
}

.tenWeb_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.tenWeb_right img{
    width: 7%;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
}

/* Hàng mới về */
.hangMoiVe {
    display: flex;
    flex-direction: row;
}

.cotSPG {
    margin: 0px 40px;
}

.cotSP img{
    width: 200px;
}
.cotSPG img{
    width: 300px;
}

/* Sản phẩm bán chạy */
.tatCaSP {
    display: flex;
    flex-direction: row;
}
.loaiSP td {
    width: 140px;
    height: 50px;
}
.tatCaSP img {
    width: 200px;
}
.cotSP1 {
    margin: 0px 100px;
}
.cotSP1 > div, .cotSP2 > div{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}
.tatCaSP button {
    margin-bottom: 20px;
    width: 100px;
}

/* Về chúng tôi */
.veChungToi {
    display: flex;
    flex-direction: row;
}
.nguoi, .video {
    text-align: center;
}
.nguoiG {
    margin: 0px 100px;
}
.nguoi img{
    border-radius: 80%;
    width: 150px;
}
.video video {
    width: 250px;
}

/* Mua hàng */
/* Gio hang */
.tieuDe, .muaHang, .sanPham {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 50px;
}
.anhSP img {
    width: 90px;
    height:90px;
}
.soLuongSP input {
    width: 50px;
    justify-content: end;
}
.ttSP {
    margin: 0px 150px 0px 10px; 
}

.luaChon button {
    width: 150px;
    height: 30px;
    margin-right: 40px;
}

/* Tong tien */
.tongTien {
    width: 270px;
}
.dong {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Tac giả */
.tacGia {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.tt {
    margin-top: 30px;
}
.sv {
    margin: 0px 150px;
    text-align: center;
}
.sv img {
    width: 100px;
}
